p {
    font-family: 'Roboto', sans-serif;
}

img {
    height: auto;
    max-width: 25%;
}

section > .skill {
    border-radius: 2em;
    padding: 0.2em;
    background-color: lightblue;
    width: fit-content;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: inherit;
}
a:hover {
    background-color: lightcyan;
}

nav {

}

nav > .selected {
    background-color: skyblue;
}

.basic-container {
    display: flex;
    flex-direction: column;
}

.basic-master-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.basic {

}

.skills {

}

.education {

}

.experience {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 801px) {

}

@media only screen and (min-width: 1281px) {

}